host,ios_type,ios_version,ios_image
{% for host in play_hosts %}
{% if ping_result.rc == 0 %}
{{ host }},{{ hostvars[host]['ansible_net_iostype'] }},{{ hostvars[host]['ansible_net_version'] }},{% if hostvars[host]['ansible_net_image'] is defined %}{{ hostvars[host]['ansible_net_image'] }}{% endif %}
{% else %}
{{ host }}, Problem reading serial number (possible host offline),,
{% endif %}
{% endfor %}