{% for host in play_hosts %}
{% if ping_result.rc == 0 %}
{{ host }}:
IOS Type: {{ hostvars[host]['ansible_net_iostype'] }}
IOS Version: {{ hostvars[host]['ansible_net_version'] }}
{% if hostvars[host]['ansible_net_image'] is defined %}
IOS Image: {{ hostvars[host]['ansible_net_image'] }}
{% endif %}

--------------------------------------------------------------------
{% else %}
{{ host }}:
Serial Number: Problem reading serial number (possible host offline)

--------------------------------------------------------------------
{% endif %}
{% endfor %}
